@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --light-gray: hsl(212, 45%, 89%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-gray);
}
.container {
  margin: auto;
  font-family: Outfit;
  width: 18rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--white);
  text-align: center;
  &__qrPicture {
    img {
      width: 18rem;
      border-radius: 13px;
    }
  }
  &__description {
    h2{
      color: var(--dark-blue);
    }
    p {
      margin: auto;
      width: 15rem;
      color: var(--grayish-blue);
      font-size: 15px;
    }
  }
}
